---
layout: default
title: Acknowledgement
permalink: /acknowledgement/
page_css: acknowledgement
---

<!-- {% include under-construction.html %} -->
<section id="acknowledgement" class="ack section">
  <h2>Acknowledgement</h2>
  
  <p style="font-size: 20px;">
  </br>
</br>
    I’m genuinely excited that I finally sat down to reflect on the last few years and
    actually build my own personal website. 🎉 
  </br>
</br>
    The clean, elegant layout was inspired by
    <a href="https://fchollet.com/" target="_blank" rel="noopener" style="color:#e2b44d;">François Chollet’s homepage</a>,
    which nudged me to keep things simple and focused.
  </br>
</br>
    Special thanks to <strong>ChatGPT</strong> for accelerating the development of this website and efficiently turning my design taste into reality throughout the project.
  </br>
</br>
    I’ll keep iterating and adding new content. Thanks for stopping by, and stay tuned. 🚀
  </br>
</br> 
</br>
</br>
  </p>
  <p style="font-size: 20px; text-align: left;"> Aug 19, 2025</p>
  <!--
  {% include last_updated.html %}
  -->
  

  

</section>

