
<div class="timeline">
    <div class="entry">
    <div class="when">2021 – 2024</div>
    <div class="body">
        <div class="role">Ph.D</div>
        <div class="org">The Chinese University of Hong Kong (CUHK)</div>
        <div class="thesis">
        Thesis: Versatile Analyses of Nucleic Acid Molecules Using Different Sequencing Technologies: Multi-omics Profiling and Clinical Applications
        </div>
    </div>
    </div>

    <div class="entry">
    <div class="when">2017 – 2019</div>
    <div class="body">
        <div class="role">M.S.</div>
        <div class="org">China Agricultural University (CAU)</div>
        <div class="thesis">
        Thesis: Characterization of Cucumber Seedling Development and Expression of CsNPFs Under Nitrogen Deficiency Condition
        </div>
    </div>
    </div>

    <div class="entry">
    <div class="when">2012 – 2016</div>
    <div class="body">
        <div class="role">B.S.</div>
        <div class="org">China Agricultural University (CAU)</div>
        <div class="thesis">
        Thesis: Inquiry Tomato Plug Seedlings Suitable Storage Temperature
        </div>
    </div>
    </div>
</div>