<!-- Skills -->
<div class="skills-wrap">

<!-- Programming -->
<div class="skills-group">
    <div class="skills-title">Programming & Visualization</div>
    <div class="skill-chips">
    <span class="chip">Python</span>
    <span class="chip">R</span>
    <span class="chip">Shell</span>
    <span class="chip">Excel</span>
    <span class="chip">PowerPoint</span>
    <span class="chip">Adobe</span>
    <span class="chip">Affinity</span>
    </div>
    <div class="skill-badge highlight-skill">
    👉 Web Programming <span class="new-label">NEW</span>
    </div>
    <div class="skill-badge highlight-skill">
    👉 Interactive Visualization <span class="new-label">NEW</span>
    </div>
</div>

<!-- Machine Learning -->
<div class="skills-group">
    <div class="skills-title">Machine Learning</div>
    <div class="skill-chips">
    <span class="chip">PyTorch</span>
    <span class="chip">TensorFlow</span>
    <span class="chip">scikit-learn</span>
    </div>
</div>

<!-- Molecular Biology -->
<div class="skills-group">
    <div class="skills-title">Molecular Biology & Sequencing Techniques</div>
    <div class="skill-chips">
    <span class="chip">PCR / qPCR</span>
    <span class="chip">Primer Design</span>
    <span class="chip">Gene Cloning</span>
    <span class="chip">Promoter Cloning</span>
    <span class="chip">RNA in situ hybridization (RISH)</span>
    <span class="chip">BLAST</span>
    <span class="chip">Homology & Evolution Analysis</span>
    <span class="chip">DNA/RNA extraction</span>
    <span class="chip">Vector Design & Construction</span>
    <span class="chip">Blood/Biopsy Sample Collection and Processing</span>
    <span class="chip">Sequencing Library Preparation</span>

    </div>
</div>

<!-- Genomics & Bioinformatics -->
<div class="skills-group">
    <div class="skills-title">Genomics & Bioinformatics</div>
    <div class="skill-chips">
    <span class="chip">Microarray</span>
    <span class="chip">Illumina</span>
    <span class="chip">10x Genomics</span>
    <span class="chip">PacBio</span>
    <span class="chip">Oxford Nanopore (ONT)</span>
    <span class="chip">Bulk & Single-cell  RNA-seq</span>
    <span class="chip">Bulk & Single-cell  ATAC-seq</span>
    <span class="chip">WGS / WES</span>
    <span class="chip">BS / TAB-seq</span>
    <span class="chip">TCR / BCR</span>
    <span class="chip">HLA typing</span>
    <span class="chip">cfDNA / Fragmentomics</span>
    <span class="chip">Transcriptomics</span>
    <span class="chip">Epigenomics</span>
    <span class="chip">Single-cell Omics</span>

    </div>
</div>



</div>