<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    {% if page.page_css %}
    <link rel="stylesheet" href="{{ '/assets/css/pages/' | append: page.page_css | append: '.css' | relative_url }}">
    {% endif %}

    <!-- <link rel="stylesheet" href="assets/css/style.css"> -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Faustina:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Macondo+Swash+Caps&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="/assets/js/renderMarkdown.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github-dark.min.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/monokai.min.css"> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>

</head>
<body>
<!-- Sidebar -->
<div class="sidebar">
    <div class="profile-block">
        <img src="{{ '/assets/cv/xihu.jpeg' | relative_url }}" alt="Profile" class="avatar">
    
        {% unless page.url == '/' %}
        <!-- 非 Home 页才显示社交图标 -->
        <div class="sidebar-icons">
            <a href="https://www.linkedin.com/in/xi-hu-ai/" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="mailto:huxii2017@gmail.com"><i class="fas fa-envelope"></i></a>
            <a href="https://github.com/huxii2017" target="_blank"><i class="fab fa-github"></i></a>
        </div>
        {% endunless %}
    </div>
    <nav>
        <a href="{{ '/' | relative_url }}" class="nav-home {% if page.url == '/' %}active{% endif %}">Home</a>
        <a href="{{ '/resume/' | relative_url }}" class="nav-resume {% if page.url == '/resume/' %}active{% endif %}">Resume</a>
        <a href="{{ '/publications/' | relative_url }}" class="nav-pubs {% if page.url == '/publications/' %}active{% endif %}">Publications</a>
        <a href="{{ '/datavis/' | relative_url }}" class="nav-datavis {% if page.url == '/datavis/' %}active{% endif %}">Data Visualization</a>
        <a href="{{ '/bioinformatics/' | relative_url }}" class="nav-bioinfo {% if page.url == '/bioinformatics/' %}active{% endif %}">Bioinformatics</a>
        <a href="{{ '/biostatistics/' | relative_url }}" class="nav-biostat {% if page.url == '/biostatistics/' %}active{% endif %}">Biostatistics</a>
        <a href="{{ '/ai/' | relative_url }}" class="nav-ai {% if page.url == '/ai/' %}active{% endif %}">AI for Science</a>
        <a href="{{ '/acknowledgement/' | relative_url }}" class="nav-datavis {% if page.url == '/acknowledgement/' %}active{% endif %}">Acknowledgement</a>
        
      </nav>
  </div>


<!-- Main Content -->
<div class="main-content">
    {{ content }}
  </div>
</body>
</html>